*{
    box-sizing: border-box;
}

body{
    max-width:1000px;
    margin: auto;
}

header,footer{
    padding: 20px 10px;
    background-color: rgb(25, 206, 25);
}

.content_wrapper{
    height: 500px;
    background-color: rgb(194, 213, 216);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.nav{
    width: 25%;
    padding: 25px;
    background-color: rgb(130, 199, 209);
}

.content{
    width: 50%;
    padding: 25px;
    background-color: white;
}

.side_bar{
    width: 25%;
    padding: 25px;
    background-color: rgb(130, 199, 209);
}


@media (max-width: 800px) {
    .content_wrapper {
        height: auto;
        flex-direction: column;
    }
    .nav, .content, .side_bar{
        width: 100%;
    }
    .nav{
        order: 2;
    }
    .side_bar{
        order: 3;
    }
}